<div class="bg-white rounded-lg shadow-lg h-[500px]">
  <img
    [src]="product.images[0]"
    alt="Product Image"
    class="w-full h-72 object-cover rounded-t-lg cursor-pointer"
    (click)="goToProductDetail(product.id)"
  />
  <div class="p-4">
    <h2 class="text-lg font-semibold line-clamp-2">
      {{ product.title }}
    </h2>
    <div class="mt-4 flex items-center justify-between">
      <span class="text-lg font-semibold">${{ product.price }}</span>
      <app-primary-button
        [text]="'Add to Cart'"
        (click)="addToCartHandler(product.id)"
      ></app-primary-button>
    </div>
  </div>
</div>
