<div>
  <p class="text-2xl font-bold">About us</p>
  <app-wave-audio [audioUrl]="audioUrl"></app-wave-audio>
</div>

<div class="m-4">
  <input
    type="number"
    class="border border-gray-300 rounded-md p-2"
    placeholder="Número"
    [value]="duration()"
    (change)="changeDuration($event)"
  />
</div>

<div class="m-4">
  <input
    type="text"
    class="border border-gray-300 rounded-md p-2"
    placeholder="Texto"
    [value]="message()"
    (change)="changeMessage($event)"
  />
</div>

<div class="m-4">
  <app-counter
    [duration]="duration()"
    [message]="message()"
    *ngIf="duration() > 0"
  />
</div>
